# Compiler files
cache/
out/
optimized-out/

# Ignores development broadcast logs, except for run-latest.json
!broadcast/FeeDistributor.s.sol/
broadcast/FeeDistributor.s.sol/dry-run
broadcast/FeeDistributor.s.sol/8453/*
!broadcast/FeeDistributor.s.sol/8453/run-latest.json
!broadcast/UpdateDynamicRewards.s.sol/
broadcast/UpdateDynamicRewards.s.sol/dry-run
broadcast/UpdateDynamicRewards.s.sol/8453/*
!broadcast/UpdateDynamicRewards.s.sol/8453/run-latest.json

# Dotenv file
.env

scripts/loadEnv.sh
